/*reset*/
* {
  margin: 0;
  padding: 0;
}

*, 
*::after,
*::before {
  box-sizing: inherit;
}
/*end of reset*/

:root {

  /*colors*/
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  /*shadow boxes*/
  --shadow-box-dark: 0 1rem 2rem 
  rgba(0, 0, 0, .3);
  --shadow-box-light: 0 1rem 2rem rgba(0, 0, 0, .1);

  /*Borders*/
  --border-light: 1px solid var(--color-grey-light-4);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}

body {
  background-color: var(--color-grey-light-2);
}

/*//////////////////////////////
Utils
*/
.mt-small { margin-top: 1rem; }
.mt-large { margin-top: 2rem; }
.mb-small { margin-bottom: 1rem; }
.mb-large { margin-bottom: 2rem; }
.center { text-align: center; }

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  transition: all .3s;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  box-shadow: var(--shadow-box-dark);
  transform: translateY(-2px) scale(1.1);
  
}

.btn:active {
  transform: translateY(-1px) scale(1);
}

/*///////////////////////////
App Component
*/
.app {
  display: flex;
}

.side-bar {
  align-self: flex-start;
  margin: 4rem 2rem;
}


/*/////////////////////////////
Categories Component
*/
.categories {
  max-width: 27rem;
  background-color: #fff;
  border-radius: 3px;
  border: var(--border-light);
  margin: 1rem;
}

.categories-title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  color: var(--color-grey-dark-1);
}

.categories-box {
  text-align: center;
}

.category {
  display: inline-block;
}

.btn-category {
  margin: 1rem;
  padding: .5rem 1rem;
  font-size: 1.6rem;
  color: var(--color-grey-light-2);
  text-transform: lowercase;
  background-color: var(--color-grey-dark-3);
  border-radius: 2px;
}

.active-category {
  background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
}

/*/////////////////////////
Votes Component
*/
.post-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: .5rem 1rem;
  /*border: var(--border-light);*/
  background-color: #fafafa;
  font-size: 1.4rem;
  color: var(--color-grey-dark-3);
}

.post-votes p {
  font-size: 1rem;
  margin-bottom: .3rem;
}

.btn-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--color-primary);
  display: block;
  background-color: #fafafa;
}

/*/////////////////////////////
Posts Component
*/
.main {
  margin: 2rem 1rem;
  flex: 1 1 auto;
}

.main-title {

}


.posts {/*div*/
  
}

.posts-list {/*ul*/

}

.post {/*li*/
  background-color: #fff;
  border: var(--border-light);
  border-radius: 2px;
  display: flex;
  max-width: 100rem;
  min-width: 50rem;
}

.post:not(:last-child) {
  margin-bottom: 1rem;
}

.post-main {/*main text area*/
  padding: 1rem;
  padding-left: 9rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.post-title {
  font-size: 1.6rem;
}

.post-category {
  position: absolute;
  top: 0;
  left: 0;
}

.post-body {
  font-size: 1.4rem;
}

.post-comments {

}

/*////////////////////////////
AddPost Component
*/

.add-post {
  background-color: #fff;
}

.add-edit {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
}

.modal-header {
  font-size: 2.4rem;
  color: var(--color-grey-dark-2);
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;

}

.modal-form label {
  font-size: 1.6rem;
  margin: 2rem 0 .5rem 0;
  text-transform: capitalize;

}

.modal-input {
  border: none;
  background-color: var(--color-grey-light-3);
  padding: .5rem 1rem;
  font-size: 1.4rem;
}


/*//////////////////
Post Component
*/
.post-page {
  
}

.post-area {
  display: flex;
  margin: 2rem;
}

.post-main {
  background-color: #fff;
  flex: 1 1 auto;
}

.post-main p {
  margin-top: .5rem;
  font-size: 1.2rem;
}


/*/////////////////////
Comments Compoenent
*/
.comments {
  position: relative;
  margin: 2rem;
  padding: 0;
  width: 75%;
}

.comments-title {
  font-size: 1.6rem;
  margin: .5rem 1rem;
  text-align: center;
  padding-top: 1rem;
}

.add-comment {
  position: absolute;
  right: -23.2rem;
  top: 0;
  width: 21rem;
  font-size: 1.2rem;
}

.add-edit-comment {
  display: flex;
  align-items: flex-end;
}

.comments-list {
  list-style: none;
}


/*//////////////////
Add Comment Component
*/
.comment {
  position: relative;
  background-color: #fff;
  margin: 2rem 0 0 0;
}

/*
Comment Component
*/
.comment {
  display: flex;
}

.comment-main {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.comment-main h5 {
  font-size: 1.4rem;
}

.comment-main p {
  font-size: 1.2rem;
}